$shadow: 3px 6px 20px -2px #121212;
$borderRadius: 5px;

#Content{
    color: #323232;
	background-color: #ffffff;
	-webkit-box-shadow: $shadow;
	-moz-box-shadow: $shadow;
    box-shadow: $shadow;
    border-bottom-left-radius: $borderRadius;
    border-top-left-radius: $borderRadius;
    margin-top: 175px;
	margin-right: -8px;
    width: 97%;
    padding: 15px;
    padding-bottom: 25px;
    min-height: 300px;
    display: inline-block;
    float: right;
}
#Title{
    font-size: 16pt;
}
#Body{
    margin-left: 15px;
}