$shadow: 3px 6px 20px -2px #121212;
$borderRadius: 3px;
$offWhite: #f3f3f3;

#menu{
    width:94%;
    height: 30px;
    top: 120px;
    right :0px;
	background: #656565;
	border-bottom-left-radius:$borderRadius;
	border-top-left-radius:$borderRadius;
	-webkit-box-shadow: $shadow;
	-moz-box-shadow: $shadow;
    box-shadow: $shadow;
    padding-left: 6px;
    display: inline-block;
    position: fixed;
}
#Menu li a{
	display: block;
    float:left;
	text-align: center;
	line-height: 20px;
    min-width: 150px;
    padding: 5px;
    border-right: $borderRadius;
    margin-left:-5px;
    color: $offWhite;
	text-decoration: none;
}
#Menu ul {
	display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#Menu li a:hover {
    background-color: #353535;
    color: $offWhite;
}
#Menu li:first-child a{
	border-bottom-left-radius:$borderRadius;
	border-top-left-radius:$borderRadius;
}