#ContentGreatWebsite{
  color: #ff0000;
  font-family: "Comic Sans MS", cursive, sans-serif;
  background-color: #550000;
  background-image: url("../../../../Images/Pages/GreatWebsites/background.gif");
  height: 450px;
}
#ContentGreatWebsite a{
  color: #ff00ff;
  text-shadow : horizontal-shadow vertical-shadow blur color;
}