#SubHeading{
    font-size:13.5pt;
    font-style: oblique;
}
#Text{
    margin-left:15px;
}#ContentGreatWebsite{
    color: #ff0000;
    font-family: "Comic Sans MS", cursive, sans-serif;
    background-color: #550000;
    background-image: url("../../Images/Pages/GreatWebsites/background.gif");
    height: 40%;
    margin: 0;
}
#ContentGreatWebsite a{
    color: #ff00ff;
}