@import 'fadeIn';
$breakpoint: 1100px;
$headerImageSize: 150px;    

.Content{
    @media (min-width: $breakpoint)  {
        margin-left: 15%;
        margin-top:275px;
    }
    @media (max-width: $breakpoint) {
        margin-top: $headerImageSize + 25px;        
        z-index: 1;
        margin-left: 0px;        
        margin-right: 0px;        
        margin-bottom: 15%;
        position: relative;
    }
    @include fadeIn;
    pointer-events: all;    
    min-height: 450px;
    background: rgb(255,255,255); /* for IE */
    background: rgba(255,255,255,0.55);
    #Title{
        @media (min-width: $breakpoint)  {
            font-size:24px;
        }
        @media (max-width: $breakpoint)  {
            font-size: calc(14px + 2vw);        
        }
        
        background-color: #131313;
        color: #f3f3f3;
    }
    #body{
        margin-top: -20px;
        @media (min-width: $breakpoint)  {
            font-size:14px;
        }
        @media (max-width: $breakpoint)  {
            font-size: calc(11pt + 1vw);        
        }
    }
}
.ContentGreatWebsite{
    margin:0px;
    min-height: 450px;
    color: #ff0000;
    font-family: "Comic Sans MS", cursive, sans-serif;
    background-color: #550000;
    a{
        color: #ff00ff;
    }
    #Title{
        background-color: #ff0000;
        color: #550000;
        font-size: 24pt;
    }
    #body{
        margin-top: -20px;
    }
}
p{
    margin-left: 15px;
}
iframe{
    border: none;
    width: 100%;
}