$fadeIn: fadein 5s;

#Content{
    color: #323232;
	background-color: #ffffff;
    margin-top: 275px;
	margin-right: 40px;
	margin-left: 300px;
    min-height: 450px;
    -webkit-animation: $fadeIn; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: $fadeIn; /* Firefox < 16 */
     -ms-animation: $fadeIn; /* Internet Explorer */
      -o-animation: $fadeIn; /* Opera < 12.1 */
         animation: $fadeIn;
}
#Title{
    background-color: #131313;
    color: #f3f3f3;
    font-size: 24pt;
}
#body{
    margin-top: -20px;
}
p{
    margin-left: 15px;
}
iframe{
    border: none;
    width: 100%;
}