$offWhite: #f3f3f3;
$fadeIn: fadein 5s;

html, body {
    padding: 0px;
}
#Header{	
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-image: url("../../../../Resources/Images/backgound.jpg");
    box-sizing:border-box;
    z-index: -1;
    align-content: center;
}
#HeaderText{
    font-size: 16pt;
    margin-top:13px;
    margin-left:17px;
    letter-spacing: 2;
    color: $offWhite;
    float: left;
    -webkit-animation: $fadeIn; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: $fadeIn; /* Firefox < 16 */
     -ms-animation: $fadeIn; /* Internet Explorer */
      -o-animation: $fadeIn; /* Opera < 12.1 */
         animation: $fadeIn;
    position: absolute;
    bottom: 13px;         
}
#HeaderDesc{
	letter-spacing: 2;
    color: $offWhite;
    float: left;
    font-size: 8pt;
    font-style: italic;
}
#Image{
    margin: 25px;
    margin-left:50px;
    -webkit-animation: $fadeIn; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: $fadeIn; /* Firefox < 16 */
        -ms-animation: $fadeIn; /* Internet Explorer */
         -o-animation: $fadeIn; /* Opera < 12.1 */
            animation: $fadeIn;
}
#Image img{
    margin-top:0px;
    height: 150px;
    width: 150px;
    border-radius: 100%;
}