$breakpoint: 1100px;

#menu{
    @media (min-width: $breakpoint)  {
        right: 40px;
    }
    @media (max-width: $breakpoint)  {
        left:0;
        right:0;        
        height:fit-content;
        font-size: calc(12px + (18 - 12) * ( (100vw - 400px) / ( 800 - 400) ));          
    }
    pointer-events: none;    
    bottom:0px;
    padding-bottom: 13px;
    width:100%;
    padding: 0px;
    z-index: 999;
    position: fixed;
    float: center;

    li a{
        pointer-events: all;        
        float:right;
        text-align: center;
        border-right: 3px;
        color: #f3f3f3;
        text-decoration: none;
        background-color: rgba(#131313, 0.95);            
        list-style-position:inside;
        border-right: 1px solid #f3f3f3;
        padding-top: 5px;
        padding-bottom: 5px;
        &:hover {
            background-color: rgba(#155555, 0.95);            
        }
        &:active {
            background-color: rgba(#155555, 0.6);            
        }
        @media (min-width: $breakpoint)  {
            min-width: 150px;
        }
        @media (max-width: $breakpoint)  {
            width: 22vw;
        }
    }
    ul {
        @media (max-width: $breakpoint)  {
            left: 0;
            right: 0;
            display: table;
            width: 100%;
        }        
        display: flex;
        flex-flow: row-reverse;
        justify-content: right;
        list-style-type: none;
        margin-right: 50px;
        padding: 0; 
    }
}
@keyframes spin {
    from { transform: scale(1) skew(0deg) rotate(0deg); }
    to { transform: scale(140) skew(0deg) rotate(36000deg); }
}