@import '../Elements/fadeIn';

$inputHeight: 25px;
$inputBorderRadius:4px;
$buttonColour: #000000;
$buttonBorderColour:#656565;
$shadowColour: #000000;     
$breakpoint: 1100px;

#Search{
    margin-left: 7px;
    margin-bottom: 7px;
    .Button{
        border-radius: $inputBorderRadius;
        border: 1px;
        border-color: $buttonBorderColour;
        -webkit-box-shadow: 2px 2px 6px 2px rgba($shadowColour,0.25);
        -moz-box-shadow: 2px 2px 6px 2px rgba($shadowColour,0.25);
        box-shadow: 2px 2px 6px 2px rgba($shadowColour,0.25); 
        &:hover{
            -webkit-box-shadow: 2px 2px 6px 2px rgba($shadowColour,0.5);
            -moz-box-shadow: 2px 2px 6px 2px rgba($shadowColour,0.5);
            box-shadow: 2px 2px 6px 2px rgba($shadowColour,0.5);
            cursor: pointer;            
        }
        color:#f3f3f3;
        height: $inputHeight;
        width:85px;
        padding: 4px;
        background-color: $buttonColour;
    }
    input{
        border-radius: $inputBorderRadius;
        height: $inputHeight;
        border: none;
    }
}
#More{
    padding-bottom: 15px;
}
.gif{
    @media (min-width: $breakpoint)  {
        width: 25%;
        min-width: 300px;
        max-width: 800px;
    }
    @media (max-width: $breakpoint)  {
        width: 50%;
        min-width: 300px;
    }
    @include fadeIn;    
    &:hover{        
        cursor: pointer;
    }
    &:active{
        -moz-box-shadow:    inset 0 0 10px $shadowColour;
        -webkit-box-shadow: inset 0 0 10px $shadowColour;
        box-shadow:         inset 0 0 10px $shadowColour;
    }
}
#CopyArea{
    @include fadeIn;        
    position: fixed;
    background-color: rgba($color: #000000, $alpha: 0.95);
    border-radius: 5px;
    border-width: 2px;
    padding: 5px;
    bottom: 10%;
    left:45%;
    color: #ffffff;
    line-height: 3%;
    p{
        margin-left: 30px;
        margin-right: 5px;
    }
    img{
        position: fixed;
        height:3%;
    }
}
#giphyResults{
    display:flex;
}